<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/datenschutz">Datenschutz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/impressum">Impressum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo">To Do's</a>
        </li>
      </ul>
      <ul class="navbar-nav me-1 mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      </ul>
    </div>
    <a class="btn btn-success m-lg-1 mb-2" routerLink="/new">New ToDo</a>
  </div>
</nav>
